In [1]:
import pandas as pd
import datetime
import datetime

In [2]:
date_format = lambda s: pd.datetime.strptime(s,"%d/%m/%Y")
data = pd.read_csv("receitas_1000.csv",  encoding = "utf-8", delimiter=";" , decimal="," , parse_dates=["DAT_EMISSAO","DAT_PAGTO"] , date_parser=date_format) 
#data = pd.read_csv("receitas.csv",  engine='python', delimiter=";" , decimal="," , parse_dates=["DAT_EMISSAO","DAT_PAGTO"] , date_parser=date_format) 
data.head()

,COMPETENCIA,CODIGO_BENEFICIARIO,NUM_EMPRESA,FATURAR_CONTRA,DAT_EMISSAO,DAT_PAGTO,COD_CENTRO_CUSTO,NOM_CENTRO_CUSTO,TIPO_ATO,TIPO_COBRANCA,VAL_ATO,VALOR_SALDO,VALOR_PAGO
0,201406,0025.1231.035664.00-0,-1,Titular,2014-06-10,2014-08-04 00:00:00,NaN,NaN,Mensalidade Plano de Saúde,TAXA,176.82,0.0,286.89
1,201406,0025.1231.035664.00-0,-1,Titular,2014-06-10,2014-08-04 00:00:00,NaN,NaN,TAXA DE INSCRIÇÃO,TAXA,0.00,NaN,NaN
2,201406,0025.1231.035664.30-2,-1,Titular,2014-06-10,2014-08-04 00:00:00,NaN,NaN,Mensalidade Plano de Saúde,TAXA,104.01,NaN,NaN
3,201406,0025.1231.035664.30-2,-1,Titular,2014-06-10,2014-08-04 00:00:00,NaN,NaN,TAXA DE INSCRIÇÃO,TAXA,0.00,NaN,NaN
4,201407,0025.1978.001866.00-0,-1,Titular,2014-06-10,2014-06-10 00:00:00,NaN,NaN,Mensalidade Plano de Saúde,TAXA,187.77,0.0,187.77

In [3]:
print(data.dtypes)

COMPETENCIA                     int64
CODIGO_BENEFICIARIO            object
NUM_EMPRESA                     int64
FATURAR_CONTRA                 object
DAT_EMISSAO            datetime64[ns]
DAT_PAGTO                      object
COD_CENTRO_CUSTO              float64
NOM_CENTRO_CUSTO               object
TIPO_ATO                       object
TIPO_COBRANCA                  object
VAL_ATO                       float64
VALOR_SALDO                   float64
VALOR_PAGO                    float64
dtype: object

In [4]:
# Dask
import dask.dataframe as dd
#data2 = dask.dataframe.read_csv("receitas_1000.csv",  delimiter=";")
#data2 = dask.dataframe.read_csv("receitas.csv",  delimiter=";",  engine='python', dtype={'NUM_EMPRESA': 'object'})
date_format = lambda s: pd.datetime.strptime(s,"%d/%m/%Y")

print('Reading...', datetime.datetime.now())
data2 = dd.read_csv("receitas.csv",  blocksize="100MB", engine='python', delimiter=";" , decimal="," , parse_dates=["DAT_EMISSAO"] , date_parser=date_format, dtype={'NUM_EMPRESA': 'object'}) 
dtrow = dd.read_csv("receitas.csv",  blocksize="100MB", engine='python', delimiter=";" , decimal="," , usecols=["COMPETENCIA","CODIGO_BENEFICIARIO"] )
print('Done...', datetime.datetime.now())

Reading... 2019-10-25 12:35:34.188054
Done... 2019-10-25 12:35:34.458896

In [5]:
data2.head(10)

,COMPETENCIA,CODIGO_BENEFICIARIO,NUM_EMPRESA,FATURAR_CONTRA,DAT_EMISSAO,DAT_PAGTO,COD_CENTRO_CUSTO,NOM_CENTRO_CUSTO,TIPO_ATO,TIPO_COBRANCA,VAL_ATO,VALOR_SALDO,VALOR_PAGO
0,201406,0025.1231.035664.00-0,-1,Titular,2014-06-10,04/08/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,176.82,0.0,286.89
1,201406,0025.1231.035664.00-0,-1,Titular,2014-06-10,04/08/2014,NaN,NaN,TAXA DE INSCRIÇÃO,TAXA,0.00,NaN,NaN
2,201406,0025.1231.035664.30-2,-1,Titular,2014-06-10,04/08/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,104.01,NaN,NaN
3,201406,0025.1231.035664.30-2,-1,Titular,2014-06-10,04/08/2014,NaN,NaN,TAXA DE INSCRIÇÃO,TAXA,0.00,NaN,NaN
4,201407,0025.1978.001866.00-0,-1,Titular,2014-06-10,10/06/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,187.77,0.0,187.77
5,201408,0025.1978.001866.00-0,-1,Titular,2014-06-10,10/06/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,187.77,0.0,208.77
6,201407,0025.1955.002766.00-0,-1,Titular,2014-06-11,11/06/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,446.70,0.0,446.70
7,201407,0025.1970.001944.00-6,-1,Titular,2014-06-11,11/06/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,0.00,0.0,302.84
8,201407,0025.1970.001944.10-3,-1,Titular,2014-06-11,11/06/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,151.42,NaN,NaN
9,201407,0025.1970.001944.30-8,-1,Titular,2014-06-11,11/06/2014,NaN,NaN,Mensalidade Plano de Saúde,TAXA,151.42,NaN,NaN

In [6]:
data2.dtypes

COMPETENCIA                     int64
CODIGO_BENEFICIARIO            object
NUM_EMPRESA                    object
FATURAR_CONTRA                 object
DAT_EMISSAO            datetime64[ns]
DAT_PAGTO                      object
COD_CENTRO_CUSTO              float64
NOM_CENTRO_CUSTO               object
TIPO_ATO                       object
TIPO_COBRANCA                  object
VAL_ATO                       float64
VALOR_SALDO                   float64
VALOR_PAGO                    float64
dtype: object

In [7]:
dtrow.head(10)

   COMPETENCIA    CODIGO_BENEFICIARIO
0       201406  0025.1231.035664.00-0
1       201406  0025.1231.035664.00-0
2       201406  0025.1231.035664.30-2
3       201406  0025.1231.035664.30-2
4       201407  0025.1978.001866.00-0
5       201408  0025.1978.001866.00-0
6       201407  0025.1955.002766.00-0
7       201407  0025.1970.001944.00-6
8       201407  0025.1970.001944.10-3
9       201407  0025.1970.001944.30-8

In [9]:
dtrow.dtypes

COMPETENCIA             int64
CODIGO_BENEFICIARIO    object
dtype: object

In [10]:
#print(dtrow.shape[0].compute()) # this not works due to memory issues

# get row count from file (even huge files)
def row_count(input):
    with open(input) as f:
        for i, l in enumerate(f):
            pass
    return i

In [13]:
print(row_count("receitas.csv"))

20813185

In [16]:
def get_dtype_csv(p_csv, p_delimiter=';' , p_decimal='.', p_date_format=None,  p_date_fields=False, p_compression='infer'):
    
    if p_date_format == None:
        dt_format = None
    else:    
        dt_format = lambda s: pd.datetime.strptime(s, p_date_format)
        # 25/10/2018 => "%d/%m/%Y"

    ds = pd.read_csv(p_csv , encoding  = 'utf-8' , delimiter = p_delimiter , decimal = p_decimal,
                     parse_dates = p_date_fields, date_parser = dt_format, compression = p_compression)
    
    print(ds.dtypes)
    return ds.dtypes

In [19]:
get_dtype_csv("receitas_1000.csv.gz",  p_delimiter=";" , p_decimal="," , 
          p_date_fields=["DAT_EMISSAO","DAT_PAGTO"] , p_date_format="%d/%m/%Y", p_compression = 'gzip')

COMPETENCIA                     int64
CODIGO_BENEFICIARIO            object
NUM_EMPRESA                     int64
FATURAR_CONTRA                 object
DAT_EMISSAO            datetime64[ns]
DAT_PAGTO                      object
COD_CENTRO_CUSTO              float64
NOM_CENTRO_CUSTO               object
TIPO_ATO                       object
TIPO_COBRANCA                  object
VAL_ATO                       float64
VALOR_SALDO                   float64
VALOR_PAGO                    float64
dtype: object

COMPETENCIA                     int64
CODIGO_BENEFICIARIO            object
NUM_EMPRESA                     int64
FATURAR_CONTRA                 object
DAT_EMISSAO            datetime64[ns]
DAT_PAGTO                      object
COD_CENTRO_CUSTO              float64
NOM_CENTRO_CUSTO               object
TIPO_ATO                       object
TIPO_COBRANCA                  object
VAL_ATO                       float64
VALOR_SALDO                   float64
VALOR_PAGO                    float64
dtype: object

In [20]:
tipos = get_dtype_csv('receitas_1000.csv.gz')

COMPETENCIA              int64
CODIGO_BENEFICIARIO     object
NUM_EMPRESA              int64
FATURAR_CONTRA          object
DAT_EMISSAO             object
DAT_PAGTO               object
COD_CENTRO_CUSTO       float64
NOM_CENTRO_CUSTO        object
TIPO_ATO                object
TIPO_COBRANCA           object
VAL_ATO                 object
VALOR_SALDO             object
VALOR_PAGO              object
dtype: object

In [21]:
tipos['COMPETENCIA']

dtype('int64')

In [22]:
def get_duplicated(p_csv, p_keys=[]):
    ds = pd.read_csv(p_csv, delimiter = ';', nrows=100)
    
    if not p_keys:
        # all columns
        duplic = ds[ds.duplicated()]
        print("Duplicate Rows based on all columns are: ")


    else:
        duplic = ds[ds.duplicated(p_keys)] 
        print("Duplicate Rows based on p_keys columns are: ")

              
    print(duplic)
    
    return duplic

In [23]:
dups = get_duplicated('receitas_1000.csv')

Duplicate Rows based on all columns are:
    COMPETENCIA    CODIGO_BENEFICIARIO  NUM_EMPRESA FATURAR_CONTRA  \
12       201406  0025.1231.035632.00-1           -1        Titular

   DAT_EMISSAO   DAT_PAGTO  COD_CENTRO_CUSTO  NOM_CENTRO_CUSTO    TIPO_ATO  \
12  11/06/2014  09/07/2014               NaN               NaN  SOS UNIMED

   TIPO_COBRANCA VAL_ATO  VALOR_SALDO VALOR_PAGO
12          TAXA    7,77          NaN        NaN

In [24]:
dups = get_duplicated('receitas_1000.csv', ['COMPETENCIA', 'CODIGO_BENEFICIARIO', 'TIPO_ATO'])

Duplicate Rows based on p_keys columns are:
    COMPETENCIA    CODIGO_BENEFICIARIO  NUM_EMPRESA FATURAR_CONTRA  \
12       201406  0025.1231.035632.00-1           -1        Titular
32       201406  0025.1250.035482.00-6           -1        Titular

   DAT_EMISSAO   DAT_PAGTO  COD_CENTRO_CUSTO  NOM_CENTRO_CUSTO    TIPO_ATO  \
12  11/06/2014  09/07/2014               NaN               NaN  SOS UNIMED
32  11/06/2014  26/06/2014               NaN               NaN      USIMED

   TIPO_COBRANCA VAL_ATO  VALOR_SALDO VALOR_PAGO
12          TAXA    7,77          NaN        NaN
32        TAXA 2    4,05          NaN        NaN

In [ ]:
def get_nulls(columns, null_values):
    # columns contém quais os campos serão validados
    # null values contém quais os valores que podem ser nulos: ("", "NaN", "N/A", "/s", "/t")
    # retorna linhas com colunas null

In [ ]:
def valid_col_regex(columns, regex)
    # columns, quais colunas serão validadas
    # regex: string comn a expressão regular a ser validada
    # exemplo validar CPF / CNPJ / Codigo Beneficiario 0025.1955.002766.00-0
    # retorna linhas com colunas invalidas

Reading JSOn file with file schema format

In [51]:
import json

with open('format_sample_001.json') as json_file:
    data = json.load(json_file)
    print(data)

{'format': {'format_name': 'csv_sample_001', 'csv': {'delimiter': ';', 'compression': 'gzip', 'header': 'true', 'validate_keys': 'false'}, 'columns': {'CODIGO': {'type': 'integer', 'nullable': 'false', 'key': 'true'}, 'NOME': {'type': 'string', 'nullable': 'false', 'size': '150'}, 'CPF': {'type': 'string', 'size': '14', 'nullable': 'true', 'key': 'false'}, 'NASCIMENTO': {'type': 'date', 'date_format': 'dd/mm/yyyy', 'min_date': '01/01/1900', 'max_date': '31/12/2050', 'nullable': 'true', 'key': 'false'}, 'SALDO': {'type': 'float', 'nullable': 'yes', 'key': 'false', 'decimal': ',', 'thousand': '.', 'negative': 'true', 'currency_symbol': 'R$'}}}}

In [52]:
print(data["format"]["format_name"])
print(data["format"]["csv"])
d_csv = {}
d_csv = data["format"]["csv"]
print(d_csv.items())

csv_sample_001
{'delimiter': ';', 'compression': 'gzip', 'header': 'true', 'validate_keys': 'false'}
dict_items([('delimiter', ';'), ('compression', 'gzip'), ('header', 'true'), ('validate_keys', 'false')])

In [56]:
d_cols = data["format"]["columns"]
print(d_cols)

{'CODIGO': {'type': 'integer', 'nullable': 'false', 'key': 'true'}, 'NOME': {'type': 'string', 'nullable': 'false', 'size': '150'}, 'CPF': {'type': 'string', 'size': '14', 'nullable': 'true', 'key': 'false'}, 'NASCIMENTO': {'type': 'date', 'date_format': 'dd/mm/yyyy', 'min_date': '01/01/1900', 'max_date': '31/12/2050', 'nullable': 'true', 'key': 'false'}, 'SALDO': {'type': 'float', 'nullable': 'yes', 'key': 'false', 'decimal': ',', 'thousand': '.', 'negative': 'true', 'currency_symbol': 'R$'}}

In [67]:
colunas = []
for i in d_cols:
    print(i, '=', d_cols[i])
    colunas.append(i)
    for j in d_cols[i]:
        print(j, '=', d_cols[i][j])
    print('')

CODIGO = {'type': 'integer', 'nullable': 'false', 'key': 'true'}
type = integer
nullable = false
key = true

NOME = {'type': 'string', 'nullable': 'false', 'size': '150'}
type = string
nullable = false
size = 150

CPF = {'type': 'string', 'size': '14', 'nullable': 'true', 'key': 'false'}
type = string
size = 14
nullable = true
key = false

NASCIMENTO = {'type': 'date', 'date_format': 'dd/mm/yyyy', 'min_date': '01/01/1900', 'max_date': '31/12/2050', 'nullable': 'true', 'key': 'false'}
type = date
date_format = dd/mm/yyyy
min_date = 01/01/1900
max_date = 31/12/2050
nullable = true
key = false

SALDO = {'type': 'float', 'nullable': 'yes', 'key': 'false', 'decimal': ',', 'thousand': '.', 'negative': 'true', 'currency_symbol': 'R$'}
type = float
nullable = yes
key = false
decimal = ,
thousand = .
negative = true
currency_symbol = R$

In [68]:
print(colunas)

['CODIGO', 'NOME', 'CPF', 'NASCIMENTO', 'SALDO']